<app-nat-animate-card>
    <ng-container front-side>
        <div class="card-pic">
            &nbsp;
        </div>
        <h1 class="card-heading">
            <span class="card-heading-yellow">
                the sea explorer
            </span>
        </h1>
        <div class="card-details">
            <ul>
                <li>3 day tours</li>
                <li>Up to 30 people</li>
                <li>2 tour guides</li>
                <li>Sleep in cozy hotels</li>
                <li>Difficulty: easy</li>
            </ul>
        </div>
    </ng-container>

    <ng-container back-side>
        Back text
    </ng-container>
</app-nat-animate-card>