<section class="section-features">
    <div class="row">
        <div class="col-1-of-4">
            <div class="feature-box">
                <em class="feature-box-icon icon-basic-world"></em>
                <h3 class="heading-tertiary mb-s">Explore the world</h3>
                <p class="feature-box-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia ab quia illum quam modi! on natus
                    quod enim!
                </p>
            </div>
        </div>

        <div class="col-1-of-4">
            <div class="feature-box">
                <em class="feature-box-icon icon-basic-compass"></em>
                <h3 class="heading-tertiary mb-s">Meet nature</h3>
                <p class="feature-box-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia ab quia illum quam modi! on natus
                    quod enim!
                </p>
            </div>
        </div>

        <div class="col-1-of-4">
            <div class="feature-box">
                <em class="feature-box-icon icon-basic-map"></em>
                <h3 class="heading-tertiary mb-s">Find your way</h3>
                <p class="feature-box-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia ab quia illum quam modi! on natus
                    quod enim!
                </p>
            </div>
        </div>

        <div class="col-1-of-4">
            <div class="feature-box">
                <em class="feature-box-icon icon-basic-heart"></em>
                <h3 class="heading-tertiary mb-s">Live a healthier life</h3>
                <p class="feature-box-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia ab quia illum quam modi! on natus
                    quod enim!
                </p>
            </div>
        </div>
    </div>
</section>