<section class="section-features">
    <div class="row">
        <div class="col-1-of-4">
            <app-nat-plain-card [cardTitle]="'Explore the world'" [displayIconName]="'icon-basic-world'">
            </app-nat-plain-card>
        </div>

        <div class="col-1-of-4">
            <app-nat-plain-card [cardTitle]="'Meet nature'" [displayIconName]="'icon-basic-compass'">
            </app-nat-plain-card>
        </div>

        <div class="col-1-of-4">
            <app-nat-plain-card [cardTitle]="'Find your way'" [displayIconName]="'icon-basic-map'"></app-nat-plain-card>
        </div>

        <div class="col-1-of-4">
            <app-nat-plain-card [cardTitle]="'Live a healthier life'" [displayIconName]="'icon-basic-heart'">
            </app-nat-plain-card>
        </div>
    </div>
</section>