<section class="section-tours">
    <div class="center-text mb-l">
        <h2 class="heading-secondary">
            Most popular tours
        </h2>
    </div>

    <div class="row">
        <div class="col-1-of-3">
            <app-nat-tour-card></app-nat-tour-card>
        </div>
        <div class="col-1-of-3">
            <app-nat-tour-card></app-nat-tour-card>
        </div>
        <div class="col-1-of-3">
            <app-nat-tour-card></app-nat-tour-card>
        </div>
    </div>
</section>